In [2]:
import json

Merge the two lists into one sorted list.
Input: list1 = [1,2,4], list2 = [1,3,4]
Output: [1,1,2,3,4,4]
Example 2:

Input: list1 = [], list2 = []
Output: []
Example 3:

Input: list1 = [], list2 = [0]
Output: [0]
 

Constraints:


Both list1 and list2 are sorted in non-decreasing order.

In [ ]:
list1 = [1,2,4]
list2 = [1,3,4]
joined = list1 + list2
new_list = sorted(joined)
print(new_list)

[1, 1, 2, 3, 4, 4]

In [14]:
list1 = [1,2,4]
list2 = [1,3,4]
joined = list1 + list2
joined.sort()
print(joined)

[1, 1, 2, 3, 4, 4]

Find the length of the last word.
A word is a maximal substring consisting of non-space characters only.

 

Example 1:

Input: s = "Hello World"
Output: 5
Explanation: The last word is "World" with length 5.
Example 2:

Input: s = "   fly me   to   the moon  "
Output: 4
Explanation: The last word is "moon" with length 4.
Example 3:

Input: s = "luffy is still joyboy"
Output: 6
Explanation: The last word is "joyboy" with length 6.

In [22]:
word = "   fly me   to   the moon  "
new_word = word.strip()
new_list = new_word.split(' ')
print(len(new_list[-1]))

4

Delete Duplicates From a list.
 

Example 1:
Input: head = [1,1,2]
Output: [1,2]

Example 2:
Input: head = [1,1,2,3,3]
Output: [1,2,3]

In [26]:
head = [1,1,2]
new_list = []

for x in head:
    if head.count(x) > 1:
        new_list.append(x)
        head.remove(x)
    else:
        new_list.append(x)

print(new_list)

[1, 2]

###JSON AND HTTP REQUEST METHODS
JSON IS JAVA SCRYPT OBJECT NOTATION

In [7]:
import json

sample = {'name':'John',
          'age':25,
          'address':{
                'city':'Gonduroas',
                'country':'UK',
                'zipcode':'99985'}
            }
json.dumps(sample)

'{"name": "John", "age": 25, "address": {"city": "Gonduroas", "country": "UK", "zipcode": "99985"}}'

In [8]:
with open ('sample_cust.json', 'w') as file:
    json.dump(sample, file)

In [14]:
import json
car_json = """{"brand":"Chevrolet",
            "Year": 2000,
            "Model":"Cobalt",
            "color":"white",
            "distance":200000}"""
car_json

'{"brand":"Chevrolet",\n            "Year": 2000,\n            "Model":"Cobalt",\n            "color":"white",\n            "distance":200000}'

In [15]:
json.loads(car_json)

{'brand': 'Chevrolet',
 'Year': 2000,
 'Model': 'Cobalt',
 'color': 'white',
 'distance': 200000}

In [17]:
with open("sample_cust.json","r") as my_file:
    print (json.load(my_file))

### flattening

{'name': 'John', 'age': 25, 'address': {'city': 'Gonduroas', 'country': 'UK', 'zipcode': '99985'}}

### http request