TUPLES

tupples are immutable. We can not change values after creating
there should be more than one argument in the tuple
tuple can be used without brackets

tuple methods

In [ ]:
my_tuple = (12,54,64,444,33) 
print(my_tuple.count(12)) # counts the number of element in the tuple
print (my_tuple.index(12)) # gives the index.if there are several, it gives the first one

1
0

In [5]:
my_tuple = ('JOHN',22,'Paris')
age, name,city = my_tuple
print(age)
print(name)
print(city)

JOHN
22
Paris

In [12]:
my_tuple
my_tuple +=(43,2452,2435,24)
name,*middle, number1,number2,number3 = my_tuple
print(name)
print (middle)
print(number3)

JOHN
[22, 'Paris', 43, 2452, 2435, 24, 43, 2452, 2435, 24, 43, 2452, 2435, 24, 43, 2452, 2435, 24, 43, 2452, 2435, 24, 43, 2452, 2435, 24, 43]
24

DICTIONARIES

DICTIONARY IS A DATA TYPE THAT STORES DATA AS KEY:VALUE PAIRS
--KEY SHOULD BE ALWAYS IN SINGEL OR DOUBLE QUOTES

In [ ]:
my_dict = {key:value}
my_dict = {'name':'John','age':25, 'city':'Tashkent'}

In [14]:
info_list = [('name','john'),('age',22),('city','Paris')]
info_dict = dict(info_list)
print(info_dict)

{'name': 'john', 'age': 22, 'city': 'Paris'}

ACCESSING VALUES

In [18]:
info_dict
info_dict['city']

'Paris'

In [ ]:
'address' in info_dict #shows whethee it exists or not

False

GET

In [ ]:
my_dict = {'name':'John','age':25, 'city':'Tashkent'}
my_dict.get('age','Not found') #if there is key that you put to the brackets, it will return none. second argument is optional
my_dict['age']

25

clear

In [23]:
my_dict = {'name':'John','age':25, 'city':'Tashkent'}
my_dict.clear()
my_dict

{}

copy

In [25]:
my_dict = {'name':'John','age':25, 'city':'Tashkent'}
new_dict = my_dict.copy()
print(new_dict)

{'name': 'John', 'age': 25, 'city': 'Tashkent'}

ITEMS - makes list from the dictionary

In [26]:
my_dict = {'name':'John','age':25, 'city':'Tashkent'}
my_dict.items()

dict_items([('name', 'John'), ('age', 25), ('city', 'Tashkent')])

KEYS

In [ ]:
my_dict = {'name':'John','age':25, 'city':'Tashkent'}
my_dict.keys() #SHOWS THE KEYS

dict_keys(['name', 'age', 'city'])

VALUES

In [28]:
my_dict = {'name':'John','age':25, 'city':'Tashkent'}
my_dict.values()

dict_values(['John', 25, 'Tashkent'])

### POP
deletes the given key from dictionary and returns its value

In [29]:
my_dict = {'name':'John','age':25, 'city':'Tashkent'}

my_dict.pop('name')

'John'

### update
updates the dictionary by adding new key and value

In [32]:
my_dict = {'name':'John','age':25, 'city':'Tashkent'}
my_dict.update([('birth_date','25.12.43'),('Region','Surkhandarya')])
my_dict

{'name': 'John',
 'age': 25,
 'city': 'Tashkent',
 'birth_date': '25.12.43',
 'Region': 'Surkhandarya'}

In [34]:
my_dict['Region'] = 'Andijan'
my_dict

{'name': 'John',
 'age': 25,
 'city': 'Tashkent',
 'birth_date': '25.12.43',
 'Region': 'Andijan'}

In [35]:
my_dict = {'name':'John','age':25, 'city':'Tashkent'}
my_dict.pop('name','Key not found')

'John'

### SETS
SETS US A PYTHON DATA TYPE
SETS IS UNORDERED COLLECTION OF DISTINCT DATA TYPE
deletes duplicates and make in order ascending

In [36]:
my_set = {1,2,3,5,6,7,899,9,6,6,6}
print(my_set)

{1, 2, 3, 899, 5, 6, 7, 9}