## Tuples

immutable(we can't change its values after creating)

### Lists

ordered
mutable
iterable

In [1]:
my_list = [5,7,9,2]

my_list[1] = 10

my_list

[5, 10, 9, 2]

In [2]:
my_tuple = 1, 5, 'John', 'Paris'

my_tuple

(1, 5, 'John', 'Paris')

In [3]:
new_tuple = (5, 12, 'New York', 'Anna')

new_tuple

(5, 12, 'New York', 'Anna')

In [ ]:
# tuples are immutable
# lists are mutable (we can change it values)
new_tuple = (5, 12, 'New York', 'Anna')
new_tuple

new_tuple[2] = 'Paris'

TypeError: 'tuple' object does not support item assignment

In [8]:
my_tuple = [2345,2452,345]

type(my_tuple)

list

In [11]:
# iterables so far (lists, strings)

# iterable - har bitta elementiga murojaat qila olasiz(miz)

my_tuple = tuple([5,'Washington', 100])
my_tuple

(5, 'Washington', 100)

In [15]:
my_tuple = 12,

my_tuple
type(my_tuple)

tuple

### list methods

insert
copy
index
append
pop
remove
.....

## Tuple Methods

### Count

counts the number of occurencing in the Tuple of a given element

In [ ]:
my_tuple = (1, 5, 8, 10, 5, 12, 1, 9, 5)

my_tuple.count(1)

my_tuple.count(5)

my_tuple.count(50)

0

### Index

returns the index of the first occured element from the Tuple

In [20]:
my_tuple = (1, 5, 8, 10, 5, 12, 1, 9, 5)


my_tuple.index(5)

my_tuple.index(9)

7

## Tuple Unpacking

provide the same number of variable as the same number of element the tuple has

In [ ]:
my_tuple = ('John', 22, 'Paris')


age,name, city = my_tuple


print(name)

print(age)

print(city)

22
John
Paris

In [27]:
my_tuple


name, age = my_tuple

ValueError: too many values to unpack (expected 2)

In [34]:
my_tuple = ('John', 22, 'Paris', '2003-11-10', 43, 2452, 2435, 24)



# *args
name, *middle, number1, number2, number3 = my_tuple

print(my_tuple, 'original \n')
print(middle, 'middle \n')
# \n - new line
print(name, 'name \n')
print(number1, 'number1 \n')
print(number2, 'number2 \n')
print(number3, 'number3 \n')

('John', 22, 'Paris', '2003-11-10', 43, 2452, 2435, 24) original

[22, 'Paris', '2003-11-10', 43] middle

John name

2452 number1

2435 number2

24 number3

In [36]:
my_tuple

name, *middle , end = my_tuple

print(name)

print(end)

print(middle)

John
24
[22, 'Paris', '2003-11-10', 43, 2452, 2435]

# Dictionaries and Sets

## Dictionary

dictionary is a python data type that stores data as key:value pairs.

In [ ]:
# square brackets for list creation
# brackets or paranthesis for tuple creation
# curly brackets for dictionary creation


# my_dict = {key:value}
# my_dict = {key:value, key1:value1, key2: value2, ...... keyN: valueN}


#key name must be always in single or double quotes


my_dict = {"name" : "John"}

my_dict

{'name': 'John'}

In [ ]:
my_dict = {"name": "John", 'age': 25, 'City': "Tashkent"}

my_dict

{'name': 'John', 'age': 25, 'City': 'Tashkent'}

In [40]:
user_info = {"email": "sdfgsdgskdjfg@gmail.com", "phone_number": "+999999999"}

user_info

{'email': 'sdfgsdgskdjfg@gmail.com', 'phone_number': '+999999999'}

In [42]:
# dict(key_name = value, key_2 = value_2, key_3 = value_3)
my_dict = dict(name = "Anna", age = '22', email = 'sdfgsdfgdf@gmail.com')

my_dict

{'name': 'Anna', 'age': '22', 'email': 'sdfgsdfgdf@gmail.com'}

In [43]:
info_list = [("name", 'John'), ("city", "Paris"), ("age", 20)]

info_dictionary = dict(info_list)


info_dictionary

{'name': 'John', 'city': 'Paris', 'age': 20}

### Accessing Values

provide the key name in square brackets

In [52]:

my_dict = {"name" : "Anna", "age" : 22, "email": 'sdfgsdfgdf@gmail.com'}


my_dict['email']

my_dict['name']

my_dict['age']

22

In [54]:
my_dict['address']

KeyError: 'address'

In [55]:
'address' in my_dict

False

In [56]:
'email' in my_dict

True

## Dictionary Methods

### Get
returns the value of the provided key

In [ ]:
my_dict = {"name" : "Anna", "age" : 22, "email": 'sdfgsdfgdf@gmail.com'}


print(my_dict.get("age"))
my_dict["age"]



print(my_dict.get("address", 'The key(address) is not found!'))

print(my_dict.get("email", 'The key is not found'))

22
The key(address) is not found
sdfgsdfgdf@gmail.com

### Clear

removes keys and values from the dictionary

In [68]:
my_dict = {"name" : "Anna", "age" : 22, "email": 'sdfgsdfgdf@gmail.com'}

my_dict.clear()

my_dict

{}

### Copy

copies dictionary keys and values to another dict

In [ ]:
user_info = {"email": "sdfgsdgskdjfg@gmail.com", "phone_number": "+999999999"}


new_user = user_info.copy()

new_user

{'email': 'sdfgsdgskdjfg@gmail.com', 'phone_number': '+999999999'}

### Items

returns the keys and values in a list

In [ ]:
user_info.items()

#dict_items(
# [
# ('email', 'sdfgsdgskdjfg@gmail.com'),
# ('phone_number', '+999999999')
# ]
# 



# reverse of below code
# info_list = [("name", 'John'), ("city", "Paris"), ("age", 20)]

# info_dictionary = dict(info_list)

dict_items([('email', 'sdfgsdgskdjfg@gmail.com'), ('phone_number', '+999999999')])

### Keys

returns the key names of the dictionary

In [75]:
new_user.keys()

# my_dict.keys()

dict_keys(['email', 'phone_number'])

### Values

returns the values of the dictionary

In [76]:
user_info.values()

dict_values(['sdfgsdgskdjfg@gmail.com', '+999999999'])

### Pop
delete given key from the dictionary

In [88]:
user_info = {"email": "sdfgsdgskdjfg@gmail.com", "phone_number": "+999999999"}

user_info.pop('phone_number')

user_info

{'email': 'sdfgsdgskdjfg@gmail.com'}

In [ ]:
user_info = {"email": "sdfgsdgskdjfg@gmail.com", "phone_number": "+999999999"}

user_info.pop('phone_number', "Key not found")

user_info.pop('phone_number', "Key not found")


user_info

{'email': 'sdfgsdgskdjfg@gmail.com'}

### popitem

removes the last added key from the dictionary

In [ ]:
user_info = {"email": "sdfgsdgskdjfg@gmail.com", "phone_number": "+999999999"}

user_info.popitem()

user_info.popitem()

# if you use popitem() with a empty dict then you will get an error
user_info.popitem()

KeyError: 'popitem(): dictionary is empty'

### Update
use update to add or change your dictionary

In [113]:
user_info = {"email": "sdfgsdgskdjfg@gmail.com", "phone_number": "+999999999"}

user_info.update([("name", "Anna"), ("address", "Tashkent"), ("age", 25)])

user_info

{'email': 'sdfgsdgskdjfg@gmail.com',
 'phone_number': '+999999999',
 'name': 'Anna',
 'address': 'Tashkent',
 'age': 25}

### Edit Existing key value

assign a new value after calling the key

In [115]:
user_info['email'] = 'anna25tash@gmail.com'

user_info

{'email': 'anna25tash@gmail.com',
 'phone_number': '+999999999',
 'name': 'Anna',
 'address': 'Tashkent',
 'age': 25}

### pop
pop(key_name), removes the value of the given key

In [121]:
user_info.pop('age', "key not found")

'key not found'

In [127]:
user_info

{'email': 'anna25tash@gmail.com',
 'phone_number': '+999999999',
 'name': 'Anna',
 'address': 'Tashkent'}

# Sets
set is a python data type

set is "unordered collection of distinct object"

iterable
immputable

In [140]:
# list = [] - square brackets
# tuple = () - paranthesis, brackets
# dictionary {} - curly brackets
# " - double-quote
# ' - single-quote

## set = {}
sdgsgdfg = {1, 3, 6, 9, 3, 8, 6}

sdgsgdfg
type(sdgsgdfg)
# dictionary { key:value, key:value}

set

In [156]:
## do not create a var name the same as python code

set = {}

set

del set

In [157]:
my_list = ["Sanjar", "Oybek", "Akobir", "Fuzayl", "Islombek", "Akobir", 'Akmal']

my_set = set(my_list)

my_set

{'Akmal', 'Akobir', 'Fuzayl', 'Islombek', 'Oybek', 'Sanjar'}

In [152]:
list = [234,523,452,345]

list
del list

In [154]:
my_tuple = (2354,234,52,345,23,452,354,234,5234,5)

new_list = list(my_tuple)

new_list

[2354, 234, 52, 345, 23, 452, 354, 234, 5234, 5]

### Acsessing
acsessing by indexes are not possible

In [ ]:
for item in my_set:
    print(item)

# sets are unordered

Akmal
Sanjar
Islombek
Fuzayl
Akobir
Oybek

In [163]:
name = 'Sanjar'

name_2 = name[::-1]

name_2

'rajnaS'

### Adding Items

In [165]:
my_set.add('Monitor')

my_set

{'Akmal', 'Akobir', 'Fuzayl', 'Islombek', 'Monitor', 'Oybek', 'Sanjar'}

In [168]:
my_set.update(['Maab', 'Xudaybergan', 'Habibulla', 'Humoyun'])

my_set

{'Akmal',
 'Akobir',
 'Fuzayl',
 'Habibulla',
 'Humoyun',
 'Islombek',
 'M',
 'Maab',
 'Monitor',
 'Oybek',
 'Sanjar',
 'Xudaybergan',
 'a',
 'b'}

In [ ]:
name = 'khumoyun'
list = list(name)
sett = set(list)
sett.discard('k') # discard deletes the element and does not give error while remove gives error

TypeError: 'list' object is not callable

union

In [8]:
first_set = set(list('Hello Dears'))
second_set = set(list('Hala Madrid'))
first_set.union(second_set)

{' ', 'D', 'H', 'M', 'a', 'd', 'e', 'i', 'l', 'o', 'r', 's'}

intersect

In [10]:
first_set = set(list('Hello Dears'))
second_set = set(list('Hala Madrid'))
new_set = first_set.intersection(second_set)
new_set

{' ', 'H', 'a', 'l', 'r'}

DIFFERENCE

In [12]:
first_set = set(list('Hello Dears'))
second_set = set(list('Hala Madrid'))
newest = first_set.difference(second_set)
newest

{'D', 'e', 'o', 's'}