LIST COMPREHENSION

In [3]:
numbers  = [1,2,4,5,6,7,8]
numbers1 = []
for i in numbers:
    numbers1.append(i)
print(numbers1)

numbers2 = numbers.copy()
print(numbers2)

[1, 2, 4, 5, 6, 7, 8]
[1, 2, 4, 5, 6, 7, 8]

In [ ]:
numbers  = [1,2,4,5,6,7,8]
numbers3 = [num for num in numbers if num % 2 ==0]
print(numbers3)
numbers4 = [num + 1 for num in numbers if num % 2 == 0]

[2, 4, 6, 8]

In [6]:
matrix = [[1,2,3],
          [4,5,6],
          [7,8,9]]
new_list = [[value*2 for value in each] for each in matrix]
print(new_list)

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

DICTIONARY COMPREHENSION

In [12]:
my_dict = enumerate('abcde')
for i in my_dict:
    print(i)

for value,key in my_dict:
    print(key,value)

new_dict = {key:value for key,value in enumerate('abcde')}
print(new_dict)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [16]:
fruits = {'apple':6, 'orange':9, 'melon':15,'watermelon':11}
print(fruits.items())

new_fruits = {key:value*2 for key,value in fruits.items() if value>0}
print(new_fruits)

dict_items([('apple', 6), ('orange', 9), ('melon', 15), ('watermelon', 11)])
{'apple': 12, 'orange': 18, 'melon': 30, 'watermelon': 22}

SET COMPREHENSION

In [17]:
my_set = {1,1,2,3,5,5,6,2,6,11,4}
new_set = {i*0.5 for i in my_set if i >4}
print(new_set)

{2.5, 3.0, 5.5}

### FUNCTIONS
function_name should all in lower case and underscres should be used to seperate the words

In [19]:
def my_function():
    pass

In [20]:
def my_function():
    print('Hello')
my_function()

Hello

In [21]:
def welcome(name):
    print('Hello: ', name)

welcome('John')

Hello:  John

In [ ]:
#type hinting argumets
def welcome(name:str):
    return f'This is the print inside the return,{name}'

new_function = welcome('John')

print(new_function)

This is the print inside the return,John

In [26]:
def welcome(name:str,age:int):
    print(f'Hello {name}, you are {age} years old')

welcome('Anna', 25)

Hello Anna, you are 25 years old

In [30]:
def welcom(name:str, age:int):
    print(f'Hello,{name}. You are {age} years old')
    return age-5

welcom('Son',25)

Hello,Son. You are 25 years old

20

In [32]:
def my_func (*args):
    print(args)

my_func(1,2,5,3,3,5,10,'baby',11)

(1, 2, 5, 3, 3, 5, 10, 'baby', 11)

In [31]:
def my_func (*args):
    for arg in args:
        print(arg)

my_func(1,2,5,3,3,5,10,'baby',11)

1
2
5
3
3
5
10
baby
11

In [33]:
def my_funktion (name:str, age:int,*args):
    print(f'The name is {name}, the age is {age}, the other arguments are {args}')

my_funktion('HUMOYUN',25,2424,52,'SSS')

The name is HUMOYUN, the age is 25, the other arguments are (2424, 52, 'SSS')

### KWARGS

In [34]:
def welcome(name,age):
    print(f'Hello {name}, you are {age} years old')

welcome (name=25,age='John')

Hello 25, you are John years old

In [35]:
def welcome(name,age = 25):
    print(f'Hello {name}, you are {age} years old')

welcome ('John')

Hello John, you are 25 years old

In [ ]:
def kwargss(**kwargs):
    print (kwargs)

kwargss(name = 'John',age = 50)

TypeError: kwargss() got an unexpected keyword argument 'name'