LESSON-8

### POSITIONAL ONLY ARGUMENTS

def func_name([positional only params],/,[positional or keyword params],*,[keyword only params])

In [2]:
def my_funct (name,age,/,city,zipcode,*,marital_status):
    print(f'Hello,your name is {name}, you are {age} years old. You are from {city} and the zipcode is {zipcode}.You are {marital_status}')
my_funct('Anna',25,'Paris','100010', marital_status='Single')
my_funct('Anna',25,zipcode='100010',city='Paris', marital_status='Single')

Hello,your name is Anna, you are 25 years old. You are from Paris and the zipcode is 100010.You are Single
Hello,your name is Anna, you are 25 years old. You are from Paris and the zipcode is 100010.You are Single

#### SCOPE

In [3]:
name = 'John'
def welcome(name):
    print(f'Hello name')
welcome()

TypeError: welcome() missing 1 required positional argument: 'name'

In [4]:
num = 10
def my_num(my_num):
    my_num = num
    print(my_num)
my_num(15)

10

In [6]:
def add():
    a = 10
    b = 8
    return a + b

def subtract():
    c = 20
    return c - a
subtract()

NameError: name 'a' is not defined

In [12]:
a = 50
def add():
    global a
    a = 1
    b = 8
    return a + b

def subtract():
    c = 20
    return c - a
subtract()

-30

In [14]:
name = 'John'
def my_name():
    global name
    print(f'Your name is {name}')
my_name()

Your name is John

### RECURSIVE

In [18]:
def factorial(n):
    if n == 1 or n == 0:
        return 1
    else:
        return (n*factorial(n-1))
factorial(5)

120

### lambda functions
we create lambda istead of def to create lambda functions
### lambda args: code

In [20]:
welcome = lambda:print('Hello World')
welcome()

Hello World

In [22]:
greet_user = lambda name:print(f'Hello {name}')
greet_user('John')

Hello John

In [23]:
x = lambda y: print(y)
x(5)

5

In [ ]:
square = lambda x : x**2
print(square(2))

4

### EXCEPTION HANDLING
### CTRL + ALT
if error occurs, it goes to the except

In [ ]:
#type error
try:
    print('John'+5)
except:
    print('An error occured')

In [ ]:
#value error
try:
    age = int(input('Enter an integer: '))
except:
    print('An error occured')

In [ ]:
try:
    age = int (input('Enter your age: '))
except ValueError:#you can specify the error type and the output that you want to get from it
    print('You have not entered an integer')

In [ ]:
try:
    age = int (input('Enter your age: '))
    print(age)
    name = 'Michael'
    city = 'Paris'
except ValueError:#you can specify the error type and the output that you want to get from it
    print('You have not entered an integer')
except TypeError:
    print('Type error occured')

In [ ]:
try:
    age = int (input('Enter your age: '))
    print(age)
    name = 'Michael'
    city = 'Paris'
except (ValueError,TypeError):#you can specify SEVERAL  error types and the output that you want to get from them
    print('You have not entered an integer')

In [ ]:
max_limit = 5
if max_limit == 5:
    raise ValueError

In [ ]:
max_limit = 5
if max_limit == 5:
    raise ValueError('Max limit has reached')

In [ ]:
try:
    age = int (input('Enter your age: '))
    print(age)
    name = 'Michael'
    city = 'Paris'
except (ValueError,TypeError):
    print('You have not entered an integer')
finally:
    print('The code is completed with or without error')

In [ ]:
try:
    age = int (input('Enter your age: '))
    print(age)
    name = 'Michael'
    city = 'Paris'
except (ValueError,TypeError):
    print('You have not entered an integer')
except NameError:
    print('Name error')
else:
    print('Your code is completed with no errors')