### Datetime, RegEx

In [ ]:
### datetime module is used to work with datetime objects in python.


import datetime

dir(datetime)

datetime.datetime.now()

# '2025-06-20 19:00:20.000'

datetime.datetime(2025, 6, 20, 19, 19, 35, 707375)

In [7]:
datetime.date.today()

datetime.date(2025, 6, 20)

### datetime.date class

In [ ]:
from datetime import date

my_d = date(2020, 10, 5)

my_d

datetime.date(2020, 10, 5)

In [9]:
from datetime import date
year = 2025

month = 10

day = 20

date(day=day,year=year, month=month)

datetime.date(2025, 10, 20)

In [83]:
from datetime import date
year = 2025

month = 10

day = 30

date(day=day,year=year, month=month)

datetime.date(2025, 10, 30)

In [14]:
# we give the number of second and i will return a date by adding the provided seconds to 1970 January 1 UTC.

from datetime import date

timestamp = date.fromtimestamp(2_000_000_000)


timestamp

datetime.date(2033, 5, 18)

In [19]:
today = date.today()

today.day
today.year

today.month

today.weekday()

4

### datetime.time class

In [26]:
from datetime import time


time(20, 18, 55, 666999)


my_time = time(20, 18, 55, 60)

my_time.microsecond


print(my_time.hour)
print(my_time.second)

20
55

In [28]:
from datetime import time


new_time = time(microsecond=500, second=20, hour=15, minute=30)


new_time

datetime.time(15, 30, 20, 500)

### datetime.datetime class

In [32]:
from datetime import datetime

my_datetime = datetime(2025, 5, 22, 9, 23, 50, 692)


my_datetime

my_datetime = datetime(2025, 5, 20)

print(type(my_datetime))

<class 'datetime.datetime'>

### a timedelta objects represents the difference between 2 dates or times.

In [59]:
from datetime import datetime, date


t1 = date(2025, 1, 1)
t2 = date.today()


date_delta = t2 - t1

print(date_delta)

t1 = datetime(2022, 5, 22, 9, 23, 50, 692)

t2 = datetime.now()

dt_delta = t2 - t1

type(dt_delta)

print(dt_delta)

170 days, 0:00:00
1125 days, 10:32:00.550045

In [ ]:
from datetime import time
# time(hour, minute, second, microsecond)
t1 = time(20, 22, 36, 50)
t2 = time(18, 55, 10, 60)

# time_delta = t1 - t2

# print(time_delta)

TypeError: unsupported operand type(s) for -: 'datetime.time' and 'datetime.time'

In [54]:
dt_delta.total_seconds()

97237695.43575

In [58]:
user_time = input("enter your current time")

print(user_time)

19:54

In [ ]:
### strftime() is used to convert(format) datetime objects to str
### strptime() is used to convert(format) str objects to datetime

In [63]:
from datetime import datetime

current_time = datetime.now()

current_time.strftime("%d/%m/%Y, %H:%M:%S")

'20/06/2025, 19:59:49'

#### %Y - year (0001, .... , 2025, 2026, .... 9999)
#### %m - month (1-12)
#### %d - day (1-31)
#### %H - hour (00, ...., 23)
#### %M - minute (00, ...., 59)
#### %S - second (00, ...., 59)
#### %B - Full MonthName (January, February, ...., December)

In [71]:
from datetime import datetime
date_str = "6/20/2025 20:04:00"

datetime.strptime(date_str, "%m/%d/%Y %H:%M:%S")

new_date_str = "20 April, 2025"

format = "%d %B, %Y"
datetime.strptime(new_date_str, format)

datetime.datetime(2025, 4, 20, 0, 0)

In [82]:
from datetime import datetime
import pytz

current_time = datetime.now()

# print("Current time is", current_time.strftime("%H:%M %p\n%m/%d/%Y"))


my_tz = pytz.timezone("Asia/Dushanbe")
L_tz = pytz.timezone("Europe/London")
datetime_NY = datetime.now(my_tz)

datetime_L = datetime.now(L_tz)

# print(datetime_NY)

print(datetime_L)

2025-06-20 16:30:27.142328+01:00

In [ ]:
### regex - regular expression. 
### metacharacters =  " '[]', '.' , '^', '*', '+', '?', '()', '\', '|'  "

# [abc] - a or b or c
# [a-f] - a, b, c, d, e or f
# [^abc] - not (a or b or c)
# [^a-f] - not (a, b, c, d, e or f)

In [ ]:
# . - any character (except for \n)
# '..', "sa"   - true, 1 match
# '..', "salom"  - true, 2 matches
# . - dot

In [ ]:
# ^a - checks if the string starts with "a"(given character)
# ^ - caret

In [ ]:
import re

my_str = "salom"

print(re.search("..",my_str))
print(re.search("^a",my_str))

# () - bracket, paranthesis

sa
None

In [ ]:
# char$ - checks if the given string ends with the given character.
# m$  salom - true

In [ ]:
print(re.search("m$", "salomn"))

None

In [ ]:
# * - star
# start*char - star symbol checjs if the string matches zero or more accounrences of the patter.

In [102]:
my_str = "salom"

print(re.match("sa*l", my_str))

<re.Match object; span=(0, 3), match='sal'>

In [ ]:
# {n,m} - Braces. 
# char{n,m} - at least n and at most m repetitions exists in the patter

In [117]:
my_str = "helllo world"

print(re.search("l{2,3}", my_str))

<re.Match object; span=(2, 5), match='lll'>

In [ ]:
# | - bar
# a|b - a or b

In [125]:
my_str = "hello world"

re.match("h|e", my_str)

re.findall("h|e", my_str)

['h', 'e']

In [ ]:
# sql escape "\" is used to find wildcards from a string(column)
# '%%%' in sql
# select * from table_name where col_name like '%%%' -> returns everthing. where col_name like '%a%%' escape '\a'

In [ ]:
# \ - back slash in python is used to escape metacharacters or some specified characters.

# \A(chars) - checks the given str if it starts with given chars
# \b(chars) - checks the given str if it ends(begins) with given chars

In [118]:
my_str = "the summer"

re.search("\Athe", my_str)

<>:3: SyntaxWarning: invalid escape sequence '\A'
<>:3: SyntaxWarning: invalid escape sequence '\A'
C:\Users\haric\AppData\Local\Temp\ipykernel_18880\3905176772.py:3: SyntaxWarning: invalid escape sequence '\A'
  re.search("\Athe", my_str)

In [124]:
my_str = "salom dunyo"

print(re.search("\bdunyo", my_str))

None