### datetime, Regex

Datetime module is used to work with datetime objects in python

In [ ]:
import datetime 
dir(datetime)

datetime.UTC

datetime.datetime.now()

AttributeError: module 'datetime' has no attribute 'now'

In [6]:
datetime.date.today()

datetime.date(2025, 6, 20)

In [11]:
from datetime import date

my_date = date(2020,10,5)
my_date

year = 2021
month = 6
day = 2

my_d= date(year, month, day)
print(my_d)

2021-06-02

In [13]:
# we give the number of second and it will return a date by adding the provided seconds to 1970 January 1 UTC

from datetime import date

timestamp = date.fromtimestamp(2000000000)
timestamp

datetime.date(2033, 5, 18)

In [14]:
today = date.today()
today.year
today.day
today.month
today.weekday()

4

datetime.time class

In [19]:
from datetime import time

time (20,18,55,666999)

my_time = time(20,19,55,49)

my_time.microsecond

print(my_time)

print(my_time.hour)
print(my_time.minute)

20:19:55.000049
20
19

### datetime.datetime class

In [22]:
from datetime import datetime

my_datetime = datetime(2025,5,22,9,23,55,692)
print(my_datetime)

my_datetime1 = datetime(2025,5,5,4)
print(my_datetime1)

2025-05-22 09:23:55.000692
2025-05-05 04:00:00

In [28]:
from datetime import timedelta

t1 = datetime(2025,2,22,9,23,50,550)
t2 = datetime.now()
delta = t2-t1
print(delta)

118 days, 10:24:46.215447

In [29]:
from datetime import time 
t1 = time (20,22,35,50)
t2 = time (18,55,10,60)

delta = t2-t1
print(delta)

TypeError: unsupported operand type(s) for -: 'datetime.time' and 'datetime.time'

In [33]:
delta.total_seconds()

10232686.215447

In [ ]:
### strftime() is used tp convert(format) datetime object to str
### strptime() is used to convert(format) str objects to datetime

In [37]:
current_time = datetime.now()
current_time.strftime("%d/%m/%Y,%H:%M:%S")

'20/06/2025,20:04:19'

#### %Y - year (0001, .... , 2025, 2026, .... 9999)
#### %m - month (1-12)
#### %d - day (1-31)
#### %H - hour (00, ...., 23)
#### %M - minute (00, ...., 59)
#### %S - second (00, ...., 59)
#### %B - Full MonthName (January, February, ...., December)

In [ ]:
from datetime import datetime
date_str = '6/28/2025 20:04:00'
new_date = datetime.strptime(date_str,'%m/%d/%Y %H:%M:%S')
print(new_date)

2025-06-28 20:04:00

In [46]:
from datetime import datetime 
import pytz

current_time = datetime.now()
print('current_time is', current_time.strftime('%H:%M %p\n%m/%d/%Y'))

mt_tz = pytz.timezone('America/New_York')
datetime_NY = datetime.now(mt_tz)
print(datetime_NY)

current_time is 20:29 PM
06/20/2025
2025-06-20 11:29:03.357199-04:00

### regex - regular expressions
### metacharacters = "'[]','.', '^', '*','+','+','?','()','\','|'"

# '.' - any character
# '..','sa' - true, 1 match
# '..', 'salom' - true, 2 matches

In [50]:
import re
my_str = 'salom'
print(re.search('..', my_str))
print(re.search('a', my_str))

<re.Match object; span=(0, 2), match='sa'>
<re.Match object; span=(1, 2), match='a'>