### BOOLEAN
TRUE AND FALSE

In [1]:
True == 1

True

In [2]:
False == 0

True

In [5]:
45 == 34

False

bool

In [3]:
bool1 = bool('Hello')
bool1

True

In [4]:
bool2 = bool([1,2,3,4,5])
bool2

True

In [ ]:
bool2 = bool([]) # if there is no any value inside the value, it is a False
bool2

False

### CONDITIONALS

In [8]:
a = 1
b = 8
if a > b:
    print ('Excellent')
else:
    print ('No way')

No way

special characters
is
in
not it

In [ ]:
x = [1,2,4,5]
y = [1,2,4,5]
x==y #compares the values inside x and y

True

In [ ]:
x = [1,2,4,5]
y = [1,2,4,5]
x is y #False since it compares the id of x and y

In [ ]:
a = None
b = None
a is b
a == b
#you always get true since id of none is always the same
# 'is' checks both id and values

In [10]:
x = [1,2,4,5]
y = [1,2,4,5]
x in y

False

In [12]:
x = [1,2,4,5]
y = [1,2,4,5,[1,2,4,5]]
x in y

True

In [1]:
year = int(input('enter a year'))
if year % 4 == 0:
    if year % 400 == 0 and year%100 == 0:
        print('this is not a leap year')
    else:
        print('Leap year')

ValueError: invalid literal for int() with base 10: ''