1. Create and Access List Elements.Create a list containing five different fruits and print the third fruit.

In [1]:
fruits = ['apple','orrange','banana','pineapple','lemon']
third_fruit = fruits[2]
print(third_fruit)

banana

2. Concatenate Two Lists.Create two lists of numbers and concatenate them into a single list.

In [5]:
numbers_1 = [12,13,14]
numbers_2 = [15,16,17]
new_list = numbers_1 + numbers_2
print(new_list)

[12, 13, 14, 15, 16, 17]

3.Given a list of numbers, extract the first, middle, and last elements and store them in a new list.

In [6]:
numbers = [11,12,5,7,8]
new_list = []
new_list.append(numbers[0])
new_list.append(numbers[-1])
new_list.append(numbers[len(numbers)%2])
print(new_list)

[11, 8, 12]

4.Create a list of your five favorite movies and convert it into a tuple.

In [7]:
my_movies = ['Joe Black', 'Avengers', 'Showshank Redemption', 'Forest Hump', 'It']
tuple_movies = tuple(my_movies)
print(tuple_movies)

('Joe Black', 'Avengers', 'Showshank Redemption', 'Forest Hump', 'It')

5.Given a list of cities, check if "Paris" is in the list and print the result.

In [12]:
cities = ['New York','Dehli','Tokyo','Madrid','Paris','Istanbul']
number_of_city = cities.count('Paris')
if number_of_city == 0:
    print('There is no such city')
else:
    print('it is there')

it is there

6. Create a list of numbers and duplicate it without using loops.

In [13]:
numbers = [1,9,5,10,12,0]
duplicated = numbers * 2
print(duplicated)

[1, 9, 5, 10, 12, 0, 1, 9, 5, 10, 12, 0]

7.Given a list of numbers, swap the first and last elements.

In [23]:
list = [12,24,55,78,99,48]
first_element = list[0]
last_element = list[-1]
list.pop(0)
list.pop(-1)
list.insert(0,last_element)
list.append(first_element)
print(list)

[48, 24, 55, 78, 99, 12]

8.Create a tuple of numbers from 1 to 10 and print a slice from index 3 to 7.

In [25]:
tuple = (1,2,3,4,5,6,7,8,9,10)
new_tuple = tuple[3:7] 
print(new_tuple)

(4, 5, 6, 7)

9. Count Occurrences in a List

In [26]:
colors = ['red','black','blue','purple','orange','yellow','blue']
number_of_colors = colors.count('blue')
print(number_of_colors)

2

10.Given a tuple of animals, find the index of "lion".

In [27]:
animals = ('zebra','giraffe', 'cat','cheetah','bear','lion','snake')
lion_index = animals.index('lion')
print(lion_index)

5

11.Create two tuples of numbers and merge them into a single tuple.

In [28]:
number_1 = (1,2,3,5,6)
number_2 = (8,9,4,5,5)
merged = number_1 + number_2
print(merged)

(1, 2, 3, 5, 6, 8, 9, 4, 5, 5)

12.Given a list and a tuple, find and print their lengths.

In [ ]:
list = [1,2,4,5,6,7]
tuple = ('hello','world','guys')
list_length =len(list)
tuple_lenght = len(tuple)
print(len(list))
print(len(tuple))

6
3

13.Create a tuple of five numbers and convert it into a list.

In [ ]:
cities = (1,2,3,5,7,8,19)
my_list = list(cities)
print(my_list)

[1, 2, 3, 5, 7, 8, 19]

14.Given a tuple of numbers, find and print the maximum and minimum values.

In [37]:
numbers = (33,1,2,3,5,8,9)
max_number = max(numbers)
min_num = min (numbers)
print(max_number)
print(min_num)

33
1

15.Create a tuple of words and print it in reverse order.

In [2]:
my_tuple = ('Hello','World','My','Dears')
my_tuple[::-1]
print(my_tuple[::-1])

('Dears', 'My', 'World', 'Hello')